<div class="container-fluid mt-5">
    <div class="container">
        <form action='/record' method="post">
            <div class="form-group mb-3">
              <label for="id">ID Address</label>
              <input type="number" class="form-control w-25" id="id" name="id" placeholder="Enter ID">
            </div>
            <div class="form-group mb-3">
              <label for="img">Image Source:</label>
              <input type="text" class="form-control" id="img" name="img" placeholder="Enter Image Source">
            </div>
            <div class="form-group mb-3">
                <label for="name">Gallery Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Enter Gallery Name">
            </div>
            <button type="submit" class="btn btn-primary px-5" value="Submit">Submit</button>
        </form>
    </div>
</div>





